!!! XML
%package{ :xmlns => "http://www.idpf.org/2007/opf",
          :version => "3.0",
          "xml:lang" => "en",
          "unique-identifier" => "pub-id" }
  %metadata{"xmlns:dc" => "http://purl.org/dc/elements/1.1/"}
    %title#title= data.book.title.main
    %meta{:property => "title-type", :refines => "#title"} main
    %creator#creator= data.book.creator.first.name
    %meta{:property => "file-as", :refines => "#creator"}= data.book.creator.first.file_as
    %meta{:property => "role", :refines => "#creator", :scheme => "marc:relators"} aut
    %identifier#pub-id= data.book.pub_id
    %language= data.book.languages.first
    %rights= data.book.rights
    %meta{:property => "dcterms:modified"} 2014-09-04T10:47:00Z
  %manifest
  %spine
