%nav.navbar
  .navbar-left
  .navbar-center
    - if prev_chapter_path
      = link_to prev_chapter_path, { :id => "prev-link" } do
        %i.navbar-prev-link
    .navbar-center-info
      = link_to data.book.title.short, "/index.html", { :class => "navbar-site-title"}
      - unless current_page.data.sort_order == 0
        %i.navbar-breadcrumb
        %span.navbar-page-title
          = current_page.data.title
    - if next_chapter_path
      = link_to next_chapter_path, { :id => "next-link" } do
        %i.navbar-next-link
  .navbar-right
    %a#navbar-menu{:href => "javascript:void(0);"}
      %i.navbar-menu-icon
%nav.nav-sidebar= partial "partials/sidebar"
